@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Comforter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  color: hsl(0, 0%, 100%);
  background-color: #fff
}

* {
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

input {
  accent-color: #fe0222;
}

input {
   color: #fe0222;
}

.inputs {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

label {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

label code {
  width: 100px;
}

input[type="number"] {
  border: 0;
  border-bottom: 1px dotted #fe0222;
  color: #fe0222;
  margin-left: 10px;
  background-color: transparent;
}

input[type="number"]:focus {
  outline: none;
  border-bottom: 2px solid #fe0222;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}